/* 	Copyright Adam Gedney 3/31/13
	contact: adam.gedney@gmail.com
	http://adamgedney.com

"Good UI design is humble.” – Jono DiCarlo
*/


/*================Colors===================

dark blue		#001920
anchor blue		#00627d
body 			#f0f1eb
text 			#001920

==========================================*/


/*--------------------------------------Start CSS Reset---------------------------------------------*/

/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, cite, code,del, em, img, strike, strong, sub, sup, tt, var,b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}

ul {
list-style: none;
}







/*--------------------------------------End CSS Reset / Start General-------------------------------*/


body{
background: #f0f1eb;
color: #001920;
font: 62.5% 'Ubuntu', "Helvetica Neue Light", Helvetica, Arial, sans-serif;
font-weight: 100;
}

h1{
font-size: 7.2em;
line-height: 1.1;
}

h2{
font-size: 5.4em;
line-height: 1.14;
text-transform: uppercase;
}

h3, .landing ul{
font-size: 2.1em;
line-height: 1.8;
}

p, ul, dl{
font-size: 1.6em;
line-height: 1.5;
}

ul{
line-height: 1.3;
}

a{
text-decoration: none;
color: #00627d;
}

a:visited{
	color: #00627d;
}

a:hover{
	color: #f0f1eb;
	transition-duration: 1s;
}

/*--------------------------------------/General - Start Main------------------------------------*/

header, footer, .landing{
	color: #f0f1eb;
	overflow: hidden;
	background: #001920;
	padding: 0 2%;
}

header{
	position: fixed;
	z-index: 10;
	width: 100%;
	-webkit-box-shadow: 0px 3px 10px rgba(13, 13, 15, 0.75);
	   -moz-box-shadow:    0px 3px 10px rgba(13, 13, 15, 0.75);
			box-shadow:         0px 3px 10px rgba(13, 13, 15, 0.75);
}

header h1{
	background: url("../images/logo.png") no-repeat;
	text-indent: -900%;
	white-space: nowrap;
	overflow: hidden;
	line-height: .7em;
	float: left;
	margin-top: 9px;
	width: 40.5%;
}
nav{
	float: right;
	padding-top: 9px;
}

nav ul{
	overflow: hidden;
}

nav ul li{
	float: left;
	padding: 10px 24px;
}

h2 + h3{
	font-weight: 400;
	margin-bottom: 36px;
}

.page, .landing{
	padding: 54px 0;
}

.page p, h3{
	display: inline-block;
}

.page .row:last-child .col{
	float: right;
	opacity: .1;
}

.landing{
	background: url("../images/bg.jpg") no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding-top: 108px;
}

.landing .row:first-child{
	margin-bottom: 108px;
}

.landing .row:last-child .col{
	float: right;
	margin-left: 2%;
}

.landing ul{
	text-align: right;
	line-height: 2.1;
}

#talent{
	background: #001920 url("../images/talent-bg.png") no-repeat top left;
	color: #f0f1eb;
	position: relative;
}

#talent ul{
	text-align: right;
	font-size: 2.1em;
}

#venues{
	background: url("../images/map-bg.png") no-repeat center center;
}

#venues li{
	font-size: 1.8em;
	line-height: 1.5;
}

footer p{
	width: 40.5%;
	margin: 0 auto;
	padding: 54px 0;
}




























